#mw_contact .field {
	display: block;
	width: 100%;
}

#mw_contact .field input {
	width: 96%;
}

#mw_contact textarea {
	width: 96%;
	height: 8em;
}
.sendbutton {
	clear: both;
	text-align: center;
}
